{% extends "base.html" %}
{% load static %}
{% load inline_svg %}

{% block headblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/merchant/merchant-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/guest/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <script src="{% static 'js/merchant/merchant.js' %}" defer></script>

{% endblock headblock %}

{% block bodyblock %}
<div class="main-wrapper">
  <div class="header-title">
    <img src="{% static 'assets/guest-store-human-empty.svg' %}" alt="Guest Store"> 
    <p class="poppins-semibold">Masbatestores</p>
  </div>
  <div class="cover"></div>
  <div class="profile-title">
    <div class="store-image-container">
      <img src="/static/assets/guest-green-store.svg" class="store-image-status" alt="">
      <img src="/static/assets/guest-store-human.svg" class="store-image-profile-svg" alt="">
    </div>
    <div class="profile-name">
      <h2 class="poppins-semibold">Guanzon Store</h2>
      <p class="poppins-medium">Barangay Ibingay Boulevard Masbate City</p>
    </div>
    <p class="poppins-bold profile-time">7:45AM - 10:90PM</p>
  </div>
  <!--products-->
  <div class="review-section">
    <div class="review-select-bar poppins-bold">
      <button>All Products</button>
      <button>Produkto</button>
      <button>Serbisyo</button>    
    </div><!--review-select-bar-->
    <hr>
    {% comment %}
    <div class="product-block">
      <div class="product-img">
        <div class="product-type">
          {% inline_svg 'assets/guest-empty-image-product.svg' %}  
        </div> 
        {% inline_svg 'assets/guest-empty-image-product.svg' %}  
        <p class="poppins-light">Available sa Gabi</p>
      </div>
      <div class="product-desc">
        {% inline_svg 'assets/pin-red.svg' %}  
        <p class="poppins-regular">Hamburger Ni Titas Nilagang Pakas mo tosa pakas mo topakas mo sekawo mo pakas...</p>
        <p class="poppins-black">PHP: <span class="poppins-regular">15,000.00</span></p>
        <div class="product-desc-options">
          <p class="poppins-extrabold">Delete {% inline_svg 'assets/trash-bin.svg' %}</p>
          <p class="poppins-extrabold">Baguhin {% inline_svg 'assets/write-note.svg' %}</p>
        </div><!--product-desc-options-->
      </div><!--product-desc-->
    </div><!--product-block-->

    <div class="product-block">
      <div class="product-img">
        <div class="product-type">
          {% inline_svg 'assets/guest-empty-image-service.svg' %}  
        </div> 
        {% inline_svg 'assets/guest-empty-image-service.svg' %}  
        <p class="poppins-light">Available sa Gabi</p>
      </div>
      <div class="product-desc">
        {% inline_svg 'assets/pin-red.svg' %}  
        <p class="poppins-regular">Hamburger Ni Titas Nilagang</p>
        <p class="poppins-black">PHP: <span class="poppins-regular">15,000.00</span></p>
        <div class="product-desc-options">
          <p class="poppins-extrabold">Delete {% inline_svg 'assets/trash-bin.svg' %}</p>
          <p class="poppins-extrabold">Baguhin {% inline_svg 'assets/write-note.svg' %}</p>
        </div><!--product-desc-options-->
      </div><!--product-desc-->
    </div><!--product-block-->
    {% endcomment %}
    <!--if there are no product-->
    <div class="empty-products">
      {% inline_svg 'assets/merchant-product-shop.svg' %}
      <p class="poppins-medium">Wala ka pang produktong naka-post—magdagdag na para masimulan nang makita ng mga customer ang iyong tindahan!</p>
    </div>
    
    <div class="add-product">
      {% inline_svg 'assets/store-add-item.svg' %}
      <p class="poppins-semibold">dumagdag</p>
    </div>
  </div><!--review-section-->
</div><!--main-wrapper-->
{% endblock bodyblock %}
    