{% extends "base.html" %}
{% load static %}


{% block headblock %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{% static 'css/guest/home.css' %}">
    <script src="{% static 'js/guest/addition_dom.js' %}" defer></script>
    <script src="{% static 'js/guest/home.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/guest/store-review.css' %}">
{% endblock headblock %}



{% block bodyblock %}
    <script>
        
    </script>

    <!--Map Layout-->
    <div id="map"> </div>

    <!-- Search Box -->
    <div class="search-box-container">
        <input type="text" id="search-box" placeholder="Humanap ng tindahan o produkto . . ." class="poppins-light">
        <div class="map-mini-info-container">
            <div class="map-mini-info">
                <img src="{% static 'assets/guest-green-store.svg' %}" alt="">
                <span class="poppins-light">Open Store</span>
            </div>
            <div class="map-mini-info">
                <img src="{% static 'assets/guest-gray-store.svg' %}" alt="">
                <span class="poppins-light">Close Store</span>
            </div>
        </div>
    </div>

    <!-- Action Buttons -->
    <div class="actions-container">
        <div class="action-button">
            <img src="{% static 'assets/guest-search-icon.svg' %}" alt=""> 
        </div>
        <div class="action-button" id="near-me-button">
            <img src="{% static 'assets/guest-person-circle.svg' %}" alt=""> 
            <span class="poppins-light">near me</span>
        </div>
        <div class="action-button" id="map-button">
            <img src="{% static 'assets/guest-3-fold-map.svg' %}" alt=""> 
            <span class="poppins-light">maps</span>
        </div>
        <div class="action-button">
            <img src="{% static 'assets/guest-user-account.svg' %}" alt=""> 
            <span class="poppins-light">account</span>
        </div>
        <div class="action-button">
            <img src="{% static 'assets/guest-merchant-account.svg' %}" alt=""> 
            <span class="poppins-light">tindahan</span>
        </div>
        <div class="action-button">
            <img src="{% static 'assets/guest-calculator.svg' %}" alt=""> 
            <span class="poppins-light">calculator</span>
        </div>
    </div>

    <!-- Action Hint Text -->
    
    {% comment %} <div class="actions-hint-container">
        <div class="action-hint-text-empty"> 
        </div>
        <div class="action-hint-text" >
            <span class="poppins-regular">Tingnan ang Mga Tindahan Sa loob ng 10km</span>
            <img src="{% static 'assets/guest-arrow-hint-text.svg' %}" alt="">
        </div>
        <div class="action-hint-text" >
            <span class="poppins-regular">Palitan ang Hitsura ng Mapa</span>
            <img src="{% static 'assets/guest-arrow-hint-text.svg' %}" alt="">
        </div>
        <div class="action-hint-text">
            <span class="poppins-regular">Tingnan ang Screen para sa Customer o User</span>
            <img src="{% static 'assets/guest-arrow-hint-text.svg' %}" alt="">
        </div>
        <div class="action-hint-text">
            <span class="poppins-regular">Tingnan ang Screen para sa Merchant</span>
            <img src="{% static 'assets/guest-arrow-hint-text.svg' %}" alt="">
        </div>
        <div class="action-hint-text">
            <span class="poppins-regular">Tingnan ang Detalye ng Paninda at Kalkulasyon</span>
            <img src="{% static 'assets/guest-arrow-hint-text.svg' %}" alt="">
        </div>
    </div> {% endcomment %}


    <!-- Term And Conditions -->
    {% comment %} <div class="term-conditions-container">
        <div class="term-conditions-wrapper">

            <!-- Term and condition button -->
            <div class="term-conditions-buttons"> 
                <div class="term-conditions-button">
                    <span class="poppins-light">Nabasa ko na ito</span>
                    <img src="{% static 'assets/back-down-icon.svg' %}" alt=""> 
                </div> 
            </div>

            
            <!-- Term and conditions header-->
            <div class="term-conditions-header">
                <h3 class="poppins-bold">Terms and Conditions</h3>
                <h4 class="poppins-medium">Huling Na-update: <span class="poppins-extralight">December 12, 2017</span></h4>
                <h6 class="poppins-regular">Sa paggamit ng app na ito, sumasang-ayon kang sundin ang mga alituntunin sa ibaba. Pakibasa nang maigi.</h6>
            </div>

            <div class="term-conditions-content-scroller">
                <div class="term-conditions-content-wrapper">
                    <div class="term-conditions-content">
                        <h4 class="poppins-medium">1. Layunin ng App</h4>
                        <p class="poppins-light">Ang app na ito ay nagbibigay ng impormasyon tungkol sa mga produkto o serbisyo mula sa mga merchant. Pinapayagan nitong makita, piliin, at kalkulahin ng user ang posibleng halaga base sa presyo at dami, ngunit hindi ito isang platform ng pagbabayad o pag-order.</p>
                    </div>

                    <div class="term-conditions-content">
                        <h4 class="poppins-medium">1. Layunin ng App</h4>
                        <p class="poppins-light">Ang app na ito ay nagbibigay ng impormasyon tungkol sa mga produkto o serbisyo mula sa mga merchant. Pinapayagan nitong makita, piliin, at kalkulahin ng user ang posibleng halaga base sa presyo at dami, ngunit hindi ito isang platform ng pagbabayad o pag-order.</p>
                    </div>

                    <div class="term-conditions-content">
                        <h4 class="poppins-medium">1. Layunin ng App</h4>
                        <p class="poppins-light">Ang app na ito ay nagbibigay ng impormasyon tungkol sa mga produkto o serbisyo mula sa mga merchant. Pinapayagan nitong makita, piliin, at kalkulahin ng user ang posibleng halaga base sa presyo at dami, ngunit hindi ito isang platform ng pagbabayad o pag-order.</p>
                    </div>

                    <div class="term-conditions-content">
                        <h4 class="poppins-medium">1. Layunin ng App</h4>
                        <p class="poppins-light">Ang app na ito ay nagbibigay ng impormasyon tungkol sa mga produkto o serbisyo mula sa mga merchant. Pinapayagan nitong makita, piliin, at kalkulahin ng user ang posibleng halaga base sa presyo at dami, ngunit hindi ito isang platform ng pagbabayad o pag-order.</p>
                    </div>

                    <div class="term-conditions-content">
                        <h4 class="poppins-medium">1. Layunin ng App</h4>
                        <p class="poppins-light">Ang app na ito ay nagbibigay ng impormasyon tungkol sa mga produkto o serbisyo mula sa mga merchant. Pinapayagan nitong makita, piliin, at kalkulahin ng user ang posibleng halaga base sa presyo at dami, ngunit hindi ito isang platform ng pagbabayad o pag-order.</p>
                    </div>

                    <div class="term-conditions-content">
                        <h4 class="poppins-medium">1. Layunin ng App</h4>
                        <p class="poppins-light">Ang app na ito ay nagbibigay ng impormasyon tungkol sa mga produkto o serbisyo mula sa mga merchant. Pinapayagan nitong makita, piliin, at kalkulahin ng user ang posibleng halaga base sa presyo at dami, ngunit hindi ito isang platform ng pagbabayad o pag-order.</p>
                    </div>

                    <div class="term-conditions-content">
                        <h4 class="poppins-medium">1. Layunin ng App</h4>
                        <p class="poppins-light">Ang app na ito ay nagbibigay ng impormasyon tungkol sa mga produkto o serbisyo mula sa mga merchant. Pinapayagan nitong makita, piliin, at kalkulahin ng user ang posibleng halaga base sa presyo at dami, ngunit hindi ito isang platform ng pagbabayad o pag-order.</p>
                    </div>

                    <div class="term-conditions-content">
                        <h4 class="poppins-medium">1. Layunin ng App</h4>
                        <p class="poppins-light">Ang app na ito ay nagbibigay ng impormasyon tungkol sa mga produkto o serbisyo mula sa mga merchant. Pinapayagan nitong makita, piliin, at kalkulahin ng user ang posibleng halaga base sa presyo at dami, ngunit hindi ito isang platform ng pagbabayad o pag-order.</p>
                    </div>

                    <div class="term-conditions-content">
                        <h4 class="poppins-medium">1. Layunin ng App</h4>
                        <p class="poppins-light">Ang app na ito ay nagbibigay ng impormasyon tungkol sa mga produkto o serbisyo mula sa mga merchant. Pinapayagan nitong makita, piliin, at kalkulahin ng user ang posibleng halaga base sa presyo at dami, ngunit hindi ito isang platform ng pagbabayad o pag-order.</p>
                    </div>

                    <div class="term-conditions-content">
                        <h4 class="poppins-medium">1. Layunin ng App</h4>
                        <p class="poppins-light">Ang app na ito ay nagbibigay ng impormasyon tungkol sa mga produkto o serbisyo mula sa mga merchant. Pinapayagan nitong makita, piliin, at kalkulahin ng user ang posibleng halaga base sa presyo at dami, ngunit hindi ito isang platform ng pagbabayad o pag-order.</p>
                    </div>

                    <div class="term-conditions-content">
                        <h4 class="poppins-medium">1. Layunin ng App</h4>
                        <p class="poppins-light">Ang app na ito ay nagbibigay ng impormasyon tungkol sa mga produkto o serbisyo mula sa mga merchant. Pinapayagan nitong makita, piliin, at kalkulahin ng user ang posibleng halaga base sa presyo at dami, ngunit hindi ito isang platform ng pagbabayad o pag-order.</p>
                    </div>

 

                </div>
            </div>
            
        </div>
    </div> {% endcomment %}


    <!-- Store Section List -->
    {% comment %} <div class="store-section-list-container" id="store-list-container">
        <div class="store-section-header">
            <div class="store-section-header-title">
                <img src="{% static 'assets/guest-brown-store.svg' %}" alt="">
                <h3 class="poppins-semibold ellipsis">Tindahang Malapit sa akin</h3>

            </div>

            <div class="store-section-header-button">
                <span class="poppins-light">Close</span>
                <img src="{% static 'assets/back-left-angled.svg' %}" alt="">
            </div>
        </div>

        <div class="store-section-divider">
            <span></span>
        </div>

        <div class="stores-section-stores-list">
            <div class="store-section-stores-list-wrapper">
                
                <!-- Store Data Display-->
                <div class="store-data-container">
                    
                    <div class="store-image-container">
                        <img src="{% static 'assets/guest-store-human.svg' %}" class="store-image-profile-svg" alt="">
                        <img src="{% static 'assets/guest-green-store.svg' %}" class="store-image-status" alt="">
                    </div>
                    <div class="store-info-container">
                        <h3 class="poppins-semibold ellipsis">Guanzon Store fadsfsdfsdf sf dsfsafds</h3>
                        <h5 class="poppins-medium ellipsis">Barangay Ibingay Boulevard Mfdsfasbate Cityf adsdfddsfsd</h5>
                        <div class="store-info-products-container scrollable-div">
                            <!-- Store List  -->    
                            <div class="store-info-products">

                                <div class="store-info-product">
                                    <img src="{% static 'assets/guest-product-category.svg' %}" alt="">
                                    <p class="poppins-medium">Pagkaon Pagkaon ini mo</p>
                                </div>

                                <div class="store-info-product">
                                    <img src="{% static 'assets/guest-product-category.svg' %}" alt="">
                                    <p class="poppins-medium">Pagkaon</p>
                                </div>

                                <div class="store-info-product">
                                    <img src="{% static 'assets/guest-product-category.svg' %}" alt="">
                                    <p class="poppins-medium">Pagkaon</p>
                                </div>


                                <div class="store-info-product">
                                    <img src="{% static 'assets/guest-product-category.svg' %}" alt="">
                                    <p class="poppins-medium">Pagkaon ini mo</p>
                                </div>

 


                            </div>
                        
                        </div>
                    </div>

                    <div class="store-actions-container">
                        <h4 class="poppins-light-italic ellipsis">7:45 am - 5:56 pm</h4>
                        <div class="store-action-wrapper">

                            <button class="store-action-button">
                                <img src="{% static 'assets/guest-basket-icon.svg' %}" alt="">
                            </button>

                        </div>
                    </div>

                    

                </div>

                
                <!-- Store Data Display-->
                <div class="store-data-container">
                    
                    <div class="store-image-container">
                        <img src="{% static 'assets/guest-store-human.svg' %}" class="store-image-profile-svg" alt="">
                        <img src="{% static 'assets/guest-gray-store.svg' %}" class="store-image-status" alt="">
                    </div>
                    <div class="store-info-container">
                        <h3 class="poppins-semibold ellipsis">Guanzon Store fadsfsdfsdf sf dsfsafds</h3>
                        <h5 class="poppins-medium ellipsis">Barangay Ibingay Boulevard Mfdsfasbate Cityf adsdfddsfsd</h5>
                        <div class="store-info-products-container  scrollable-div">
                            <!-- Store List  -->    
                            <div class="store-info-products">

                                <div class="store-info-product">
                                    <img src="{% static 'assets/guest-service-category.svg' %}" alt="">
                                    <p class="poppins-medium">Pagkaon Pagkaon ini mo</p>
                                </div>

                                <div class="store-info-product">
                                    <img src="{% static 'assets/guest-service-category.svg' %}" alt="">
                                    <p class="poppins-medium">Pagkaon</p>
                                </div>

                                <div class="store-info-product">
                                    <img src="{% static 'assets/guest-service-category.svg' %}" alt="">
                                    <p class="poppins-medium">Pagkaon</p>
                                </div>


                                <div class="store-info-product">
                                    <img src="{% static 'assets/guest-service-category.svg' %}" alt="">
                                    <p class="poppins-medium">Pagkaon ini mo</p>
                                </div>

 


                            </div>
                        
                        </div>
                    </div>

                    <div class="store-actions-container">
                        <h4 class="poppins-light-italic ellipsis">7:45 am - 5:56 pm</h4>
                        <div class="store-action-wrapper">

                            <button class="store-action-button">
                                <img src="{% static 'assets/guest-basket-icon.svg' %}" alt="">
                            </button>

                        </div>
                    </div>

                    

                </div>




                
            </div>

        </div>

    </div> {% endcomment %}

    <!-- Store Section List Empty -->
    {% comment %} <div class="store-section-list-container animate-in" id="store-empty-list-container">
        <div class="store-section-header">
            <div class="store-section-header-title">
                <img src="{% static 'assets/guest-brown-store.svg' %}" alt="">
                <h3 class="poppins-semibold ellipsis">Tindahang Malapit sa akin</h3>

            </div>

            <div class="store-section-header-button" id="store-empty-list-button">
                <span class="poppins-light">Close</span>
                <img src="{% static 'assets/back-left-angled.svg' %}" alt="">
            </div>
        </div>

        <div class="store-section-divider">
            <span></span>
        </div>

        <div class="stores-section-stores-list">
            <div class="store-section-stores-list-wrapper">
                  <img class="store-section-empty-icon" src="{% static 'assets/guest-store-human-empty.svg' %}" alt="">
                  <h3 class="store-section-empy-text poppins-bold">Walang malapit na tindahan sa iyo</h3>

            </div>

        </div>

    </div>  {% endcomment %}

    <!-- Store Visit Screen -->
    {% comment %} <div class="store-section-list-container animate-in" id="store-visit-container">
        <div class="store-section-header">
            <div class="store-section-header-title">
                <img src="{% static 'assets/guest-brown-store.svg' %}" alt="">
                <h3 class="poppins-semibold ellipsis">Tindahang Malapit sa akin</h3>

            </div>

            <div class="store-section-header-button" id="store-visit-button">
                <span class="poppins-light">Close</span>
                <img src="{% static 'assets/back-left-angled.svg' %}" alt="">
            </div>
        </div>

        <div class="store-section-divider">
            <span></span>
        </div>

        <div class="stores-section-stores-list scrollable-div">
            <div class="store-section-stores-list-wrapper">

                <!-- Store Button Header -->
                <div class="store-visit-header">
                    <button>
                        <img src="{% static 'assets/guest-arrow-right.svg' %}" alt="">
                        <span class="poppins-medium">Tumingin sa iba</span>
                    </button>
                    <button>
                        <span class="poppins-medium">Kausapin sila</span>
                        <img src="{% static 'assets/guest-messenger.svg' %}" alt="">
                    </button>
                </div>

                <!-- Store Background Image -->
                <div class="store-background-image-container">
                    <img src="" alt="">
                    <div class="store-reviews-container">
                        <span class="poppins-semibold">100k Reviews</span>
                        <img src="{% static 'assets/guest-reviews-icon.svg' %}" alt="">
                    </div>
                </div>

                <!-- Store Profile Data -->
                <div class="store-profile-data-container">
                    <div class="store-profile-image-container">
                        <img src="{% static 'assets/guest-store-human.svg' %}" class="store-image-profile-svg" alt="">
                        <img src="{% static 'assets/guest-green-store.svg' %}" class="store-image-status" alt="">
                    </div>

                    <div class="store-profile-data-info-container">
                        <h3 class="poppins-semibold ellipsis">Guanzon Store dsadasd dsasd</h3>
                        <h5 class="poppins-medium ellipsis">Barangay Ibingay Boulevard Masbate City</h5>
                    </div>

                    <div class="store-profile-data-actions-container">
                        <h4 class="poppins-bold ellipsis">7:45 am - 5:56 pm</h4> 
                    </div>

                    <div class="store-profile-distance-container">
                        <div class="store-profile-distance-data">
                            <span class="poppins-regular">10 hours 12 mins</span>
                            <img src="{% static 'assets/guest-car.svg' %}" alt="">
                        </div>
                        <div class="store-profile-distance-data">
                            <span class="poppins-regular">10 hours 12 mins</span>
                            <img src="{% static 'assets/guest-motor.svg' %}" alt="">
                        </div>
                        <div class="store-profile-distance-data">
                            <span class="poppins-regular">10 hours 12 mins</span>
                            <img src="{% static 'assets/guest-walk.svg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Store Profile Bio -->
                <div class="store-bio-container">
                    <p class="poppins-light-italic">
                        Maligayang pagdating sa TechHub—ang iyong one-stop shop para sa makabagong gadgets at accessories. Pinagsasama namin ang de-kalidad na produkto, personalisadong serbisyo, at walang katulad na halaga sa bawat pagbili. Sumali na at i-level up ang iyong tech experience!
                    </p>
                </div>

                <!-- Store Product Display -->
                <div class="store-product-container">

                    <div class="store-product">

                        <div class="store-product-image">
                            <img src="{% static 'assets/guest-empty-image-product.svg' %}" alt="" class="store-product-image-svg" >
                        </div>
                        
                        <div class="store-product-category">
                            <span class="poppins-light">Produkto</span>
                            <img src="{% static 'assets/guest-empty-image-product.svg' %}" alt="">
                        </div>
                        
                        <img src="{% static 'assets/guest-selected-green-product.svg' %}" alt="" class="store-product-selected">

                        <div class="store-product-available">
                            <span class="poppins-light">Available sa Gabi</span>
                        </div>
                        <div class="store-product-info-container">
                            <h5 class="poppins-regular ellipsis"> Hamburger Ni Titas sa kanto</h5>
                            <h4 class="poppins-bold ellipsis">P 1,500.00</h4>
                        </div>

                    </div>

                    <div class="store-product">

                        <div class="store-product-image">
                            <img src="{% static 'assets/guest-empty-image-product.svg' %}" alt="" class="store-product-image-svg" >
                        </div>
                        
                        <div class="store-product-category">
                            <span class="poppins-light">Produkto</span>
                            <img src="{% static 'assets/guest-empty-image-product.svg' %}" alt="">
                        </div>
                        
                        <img src="{% static 'assets/guest-selected-green-product.svg' %}" alt="" class="store-product-selected">

                        <div class="store-product-available">
                            <span class="poppins-light">Available sa Gabi</span>
                        </div>
                        <div class="store-product-info-container">
                            <h5 class="poppins-regular ellipsis"> Hamburger Ni Titas sa kanto</h5>
                            <h4 class="poppins-bold ellipsis">P 1,500.00</h4>
                        </div>

                    </div>

                    <div class="store-product">

                        <div class="store-product-image">
                            <img src="{% static 'assets/guest-empty-image-product.svg' %}" alt="" class="store-product-image-svg" >
                        </div>
                        
                        <div class="store-product-category">
                            <span class="poppins-light">Produkto</span>
                            <img src="{% static 'assets/guest-empty-image-product.svg' %}" alt="">
                        </div>
                        
                        <img src="{% static 'assets/guest-selected-green-product.svg' %}" alt="" class="store-product-selected">

                        <div class="store-product-available">
                            <span class="poppins-light">Available sa Gabi</span>
                        </div>
                        <div class="store-product-info-container">
                            <h5 class="poppins-regular ellipsis"> Hamburger Ni Titas sa kanto</h5>
                            <h4 class="poppins-bold ellipsis">P 1,500.00</h4>
                        </div>

                    </div>

                    <div class="store-product">

                        <div class="store-product-image">
                            <img src="{% static 'assets/guest-empty-image-product.svg' %}" alt="" class="store-product-image-svg" >
                        </div>
                        
                        <div class="store-product-category">
                            <span class="poppins-light">Produkto</span>
                            <img src="{% static 'assets/guest-empty-image-product.svg' %}" alt="">
                        </div>
                        
                        <img src="{% static 'assets/guest-selected-green-product.svg' %}" alt="" class="store-product-selected">

                        <div class="store-product-available">
                            <span class="poppins-light">Available sa Gabi</span>
                        </div>
                        <div class="store-product-info-container">
                            <h5 class="poppins-regular ellipsis"> Hamburger Ni Titas sa kanto</h5>
                            <h4 class="poppins-bold ellipsis">P 1,500.00</h4>
                        </div>

                    </div>
  

                </div>

            </div>

        </div>


        <div class="store-product-view-calculator-button">
            <img src="{% static 'assets/guest-cart-green-check.svg' %}" alt="">
            <h6 class="poppins-semibold"> mga pinili ko </h6>
        </div>

    </div> {% endcomment %}


    <!-- View Store Facebook Account-->
    {% comment %} <div class="store-facebook-container">
        <div class="store-facebook-wrapper"> 

            <div class="store-facebook-buttons"> 
                <div class="store-facebook-button">
                    <span class="poppins-regular">Nabasa ko na ito</span>
                    <img src="{% static 'assets/back-down-icon.svg' %}" alt=""> 
                </div> 
            </div>

            <div class="store-facebook-icon">
                <img src="{% static 'assets/guest-facebook-pop-up.svg' %}" alt="">
            </div>

            <div class="store-facebook-data-container">
                <h5 class="poppins-medium">Pangalan</h5>
                <div class="store-facebook-data-input-container">
                    <input type="text" class="poppins-regular" readonly placeholder="Pangalan ng tindahan sa facebook" value="Ericson Mark">
                    <div class="store-copy-container">
                        <img src="{% static 'assets/guest-copy-fb.svg' %}" alt="">
                        <span class="poppins-medium">copy</span>

                    </div>
                </div>
                
            </div>

            <div class="store-facebook-data-container">
                <h5 class="poppins-medium">Link</h5>
                <div class="store-facebook-data-input-container">
                    <input type="text" class="poppins-regular" readonly placeholder="Pangalan ng tindahan sa facebook" value="https://www.facebook.com/makietech.guanzon/">
                    <div class="store-copy-container">
                        <img src="{% static 'assets/guest-copy-fb.svg' %}" alt="">
                        <span class="poppins-medium">copy</span>

                    </div>
                </div>
                
            </div>

            <div class="store-facebook-data-container">
                <h5 class="poppins-medium">Address ng tindahan</h5>
                <div class="store-facebook-data-input-container">
                    <input type="text" class="poppins-regular" readonly placeholder="Pangalan ng tindahan sa facebook" value="https://www.facebook.com/makietech.guanzon/">
                    <div class="store-copy-container">
                        <img src="{% static 'assets/guest-copy-fb.svg' %}" alt="">
                        <span class="poppins-medium">copy</span>

                    </div>
                </div>
                
            </div>

            <div class="store-facebook-visit-button">
                <a href="">
                    <span class="poppins-bold">bisitahin sa Facebook</span>
                    <img src="{% static 'assets/guest-store-human-visit.svg' %}" alt="">
                </a>
            </div>

            <div class="store-facebook-visit-button">
                <a href="">
                    <span class="poppins-bold">bisitahin sa Goggle Map</span>
                    <img src="{% static 'assets/fb-map-location.svg' %}" alt="">
                </a>
            </div>


        </div>
    </div>  {% endcomment %}


    <!-- Store Product Calculator -->
    {% comment %} <div class="store-section-list-container animate-in">
        
        <div class="store-calculator-container">

            <div class="store-calculator-warning-container">
                <img src="{% static 'assets/guest-calculator-warning.svg' %}" alt="">
                <h5 class="poppins-regular">Ang mga presyong ipinapakita ay batay sa impormasyong ibinigay ng merchant at para sa sanggunian lamang. Maaaring magbago ang aktwal na presyo at availability ng produkto. Mangyaring makipag-ugnayan muna sa merchant bago gumawa ng anumang desisyon.</h5>
                <h6 class="poppins-extralight-italic">Hindi ito isang sistema ng pagbabayad o pag-order—ang mga kalkulasyon ay para lamang sa pagtatantya.</h6>
            </div>
            <div class="store-calculator-form-container">
                <h3 class="poppins-extrabold">Kasalukuyang Pera</h3>
                <div class="store-calculator-form-input">
                    <span class="poppins-semibold">PHP</span>
                    <input type="number" name="" id="" placeholder="example: 12000" class="poppins-regular">
                </div>
                <h4 class="poppins-semibold">-15,000</h4>
                <span class="store-calculator-form-dvider"></span> 
                <h2 class="poppins-semibold">-15,000</h2>

                <button class="store-calculator-download">
                    <span class="poppins-semibold">I-save sa PDF ang Paninda at Impormasyon ng mga napili</span>
                    <img src="{% static 'assets/guest-pdf-button.svg' %}" alt="">
                </button>

            </div>

        </div>

        <div class="store-section-header">
            <div class="store-section-header-title">
                <img src="{% static 'assets/guest-calculator-selected-cart.svg' %}" alt="">
                <h3 class="poppins-semibold ellipsis">Ang mga napili ko</h3>

            </div>

            <div class="store-section-header-button" >
                <span class="poppins-light ellipsis">Close Calculator</span>
                <img src="{% static 'assets/guest-calculator-close-arrow.svg' %}" alt="">
            </div>
        </div>

        <div class="store-section-divider">
            <span></span>
        </div>
 
        <div class="store-product-view-calculator-button">
            <img src="{% static 'assets/guest-cart-red-close.svg' %}" alt="">
            <h6 class="poppins-semibold"> isira ito </h6>
        </div>

        <div class="store-calculator-selected-container scrollable-div"> 
            <div class="store-calculator-selected-wrapper">


                <!-- Selected Product In Calculator Screen-->
                <div class="store-calculator-selected">
                    
                    <button class="store-calculator-remove-selected">
                        <img src="{% static 'assets/guest-calculator-remove.svg' %}" alt="">
                    </button>
                    
                    <div class="store-calculator-selected-image">
                        <img src="{% static 'assets/guest-calculator-empty-product-image.svg' %}" alt="" class="store-calculator-selected-image-svg">
                        <span class="poppins-light">Available sa Gabi</span>
                    </div>

                    <div class="store-calculator-selected-info">
                        <h4 class="poppins-semibold ellipsis">Guanzon Store</h4>
                        <h5 class="poppins-regular ellipsis">Hamburger ni manong kano fdsfdfds af sdfsdf </h5>
                        <div class="store-calculator-selected-calculation">
                            <span class="store-calculator-selected-calculation-php poppins-black">PHP</span>
                            <span class="store-calculator-selected-calculation-price poppins-regular">15</span>
                            <img src="{% static 'assets/guest-calculation-multiply.svg' %}" alt="">
                            <span class="store-calculator-selected-calculation-price poppins-regular">1</span>
                            <span class="store-calculator-selected-calculation-price poppins-regular-italic">pieces</span>
                        </div>
                        <span class="store-calculator-selected-divider"></span>
                        <div class="store-calculator-selected-calculation">
                            <img src="{% static 'assets/guest-calculation-hand.svg' %}" alt=""> 
                            <span class="store-calculator-selected-calculation-price poppins-bold">P 12,000</span>
                        </div>
                        
                    </div>

                    <div class="store-calculator-selected-actions">
                        <button>
                            <img src="{% static 'assets/guest-quantity-add.svg' %}" alt="">
                        </button>
                        <input type="number" name="" id="" value="1" class="poppins-regular">
                        <button>
                            <img src="{% static 'assets/guest-quantity-minus.svg' %}" alt="">
                        </button>
                    </div>

                    <button class="store-calculator-visit-button">
                        <span class="poppins-bold">bisitahin</span>
                        <img src="{% static 'assets/guest-visit-button-store.svg' %}" alt="">
                    </button> 
                    
                </div>







            </div> 
        </div>

    </div> {% endcomment %}


    <!-- Store Review Screen -->
    {% comment %} <div class="store-review-container">
        <div class="store-review-wrapper">

            <!-- Store Review Store Header -->
            <div class="store-review-header">
                <img src="{% static 'assets/guest-store-human-review-store.svg' %}" alt="">
                <h1 class="poppins-semibold">Masbatestores</h1>
                <div class="store-review-close-button">
                    <span class="poppins-medium">I-close Ito</span>
                    <img src="{% static 'assets/back-right-icon.svg' %}" alt="">
                </div>
            </div>

            <div class="store-review-store-background-image">
                <img src="" alt="">    
            </div>

            <div class="store-review-store-account-container">
                
            </div>

            <div class="store-review-profile-data-container">
                <div class="store-review-profile-image-container">
                    <img src="{% static 'assets/guest-store-human.svg' %}" class="store-image-profile-svg" alt="">
                </div>

                <div class="store-review-profile-data-info-container">
                    <h3 class="poppins-semibold ellipsis">Guanzon Store dsadasd  dsasddsasddsasddsasddsasddsasd</h3>
                    <h5 class="poppins-medium ellipsis">Barangay Ibingay Boulevard Masbate City</h5>
                </div>
 
 
            </div>

            <div class="store-review-rate-selections">
                <button class=" store-review-rate-button store-review-rate-selections-selected poppins-bold">All Reviews</button>
                <button class=" store-review-rate-button poppins-bold">5 Stars</button>
                <button class=" store-review-rate-button poppins-bold">4 Stars</button>
                <button class=" store-review-rate-button poppins-bold">3 Stars</button>
                <button class=" store-review-rate-button poppins-bold">2 - 1 Stars</button>
            </div>

            <div class="store-review-divider"></div>
            
            <div class="store-review-list-of-reviews-container">
                <div class="store-review-list-of-review-wrapper">

                    <!-- Empty Ratings Reviews Layout -->
                   <div class="store-review-list-of-review-empty">
                        <img src="{% static 'assets/guest-list-of-reviews-empty.svg' %}" alt="">
                        <p class="poppins-medium">Wala pang review. Hikayatin ang iyong mga customer na mag-iwan ng feedback!</p>
                    </div> 

                    <!-- Rated Reviews Layout -->
                    <div class="store-review-list-of-review-rated">

                        <div class="store-review-user-review-container">
                            <div class="store-review-user-review-header">
                                <img src="{% static 'assets/guest-user-account.svg' %}" alt="">
                                <h4 class="poppins-medium ellipsis">Anonymous</h4>
                                <h6 class="poppins-bold">Hulyo 3, 2025</h6>
                            </div>
                            <p class="poppins-light">
                                Napakabilis ng serbisyo at sobrang bait ng may-ari. Malinis din ang packaging at tama ang sukli. Babalik ako ulit dito, tiyak!
                            </p>
                            <div class="store-review-user-product-rated">
                                <h4 class="poppins-extrabold">Product : </h4> <h6 class="poppins-regular">Hamburger</h6>
                            </div>
                            <div class="store-review-user-ratings-stars">
                                <img src="{% static 'assets/review-liked-star.svg' %}" alt="">
                                <img src="{% static 'assets/review-liked-star.svg' %}" alt="">
                                <img src="{% static 'assets/review-liked-star.svg' %}" alt="">
                                <img src="{% static 'assets/review-liked-star.svg' %}" alt="">
                                <img src="{% static 'assets/review-unliked-star.svg' %}" alt="">
                            </div>
                            <div class="store-review-user-actions">
                                <button>
                                    <span class="poppins-extrabold">Reply</span>
                                    <img src="{% static 'assets/review-reply-icon.svg' %}" alt="">
                                </button>
                                <button>
                                    <span class="poppins-extrabold">Delete</span>
                                    <img src="{% static 'assets/review-delete-icon.svg' %}" alt="">
                                </button>
                            </div>
                        </div>

                    </div>


                    
                </div>

            </div>


        </div>

    </div> {% endcomment %}


    <!-- Store Review Replies Form -->
    {% comment %} <div class="store-review-replies-container">
        <div class="store-review-replies-wrapper">

            <div class="store-review-replies-header">
                <button>
                    <span class="poppins-medium">Bumalik sa reviews</span>
                    <img src="{% static 'assets/back-down-icon.svg' %}" alt="">
                </button>
            </div>

            
            <div class="store-review-user-review-container store-review-replies-user-review-container">
                <div class="store-review-user-review-header">
                    <img src="{% static 'assets/guest-user-account.svg' %}" alt="">
                    <h4 class="poppins-medium ellipsis">Anonymous</h4>
                    <h6 class="poppins-bold">Hulyo 3, 2025</h6>
                </div>
                <p class="poppins-light">
                    Napakabilis ng serbisyo at sobrang bait ng may-ari. Malinis din ang packaging at tama ang sukli. Babalik ako ulit dito, tiyak!
                </p>
                <div class="store-review-user-product-rated">
                    <h4 class="poppins-extrabold">Product : </h4> <h6 class="poppins-regular">Hamburger</h6>
                </div>
                <div class="store-review-user-ratings-stars">
                    <img src="{% static 'assets/review-liked-star.svg' %}" alt="">
                    <img src="{% static 'assets/review-liked-star.svg' %}" alt="">
                    <img src="{% static 'assets/review-liked-star.svg' %}" alt="">
                    <img src="{% static 'assets/review-liked-star.svg' %}" alt="">
                    <img src="{% static 'assets/review-unliked-star.svg' %}" alt="">
                </div> 
            </div>

            <div class="store-review-replies-divider"></div>


            <div class="store-review-replies-list-of-reviews">

                <div class="store-review-user-review-container store-review-user-replies-container">
                    <div class="store-review-user-review-header">
                        <img src="{% static 'assets/guest-user-account.svg' %}" alt="">
                        <h4 class="poppins-medium ellipsis">Anonymous</h4>
                        <h6 class="poppins-bold">Hulyo 3, 2025</h6>
                    </div>
                    <p class="poppins-light">
                        Napakabilis ng serbisyo at sobrang bait ng may-ari. Malinis din ang packaging at tama ang sukli. Babalik ako ulit dito, tiyak!
                    </p> 
                </div>


            </div>

        </div>
    </div> {% endcomment %}


{% endblock bodyblock %}
    