{% extends "base.html" %}
{% load static %}
{% load inline_svg %}

{% block headblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/merchant/merchant-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/guest/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <script src="{% static 'js/merchant/merchant.js' %}" defer></script>
    <!--Flatpickr-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock headblock %}

{% block bodyblock %}
<div class="main-wrapper">
  <div class="header-title">
    <img src="{% static 'assets/guest-store-human-empty.svg' %}" alt="Guest Store"> 
    <p class="poppins-semibold">Masbatestores</p>
  </div>
  <div class="cover"></div>
  <div class="profile-title">
    <div class="store-image-container">
      <img src="/static/assets/guest-green-store.svg" class="store-image-status" alt="">
      <img src="/static/assets/guest-store-human.svg" class="store-image-profile-svg" alt="">
    </div>
    <div class="profile-name">
      <h2 class="poppins-semibold">Guanzon Store</h2>
      <p class="poppins-medium">Barangay Ibingay Boulevard Masbate City</p>
    </div>
    <p class="poppins-bold profile-time">7:45AM - 10:90PM</p>
  </div>
  <div class="profile-shop-desc">
    <p class="poppins-light-italic">Maligayang pagdating sa TechHub—ang iyong one-stop shop para sa makabagong gadgets at accessories. Pinagsasama namin ang de-kalidad na produkto, personalisadong serbisyo, at walang katulad na halaga sa bawat pagbili. Sumali na at i-level up ang iyong tech experience!</p>
  </div>
  <!--profile-shop-btns-->
  <div class="profile-shop-options poppins-medium">
    <button class="profile-shop-btn">
      {% inline_svg 'assets/merchant-time.svg' %}
      I-edit ang Oras ng Pagbubukas/Pagsasara
    </button>
    <button class="profile-shop-btn">
      {% inline_svg 'assets/merchant-note.svg' %} 
      Ayusin ang Produkto at Serbisyo
    </button>
    <button class="profile-shop-btn" id="view_review">
      {% inline_svg 'assets/merchant-note.svg' %}
      Tingnan ang Mga Review
    </button>
    <button class="profile-shop-btn">
      {% inline_svg 'assets/merchant-settings.svg' %}         
      I-update ang Lokasyon sa Mapa
    </button>
    <button class="profile-shop-btn">
      {% inline_svg 'assets/merchant-voice.svg' %}
    Mga Opsyon para sa Tindahan
    </button>
  </div>
  <!--shop-product-->
  <div class="shop-offer-wrapper">
    <h2 class="poppins-medium">
      {% inline_svg 'assets/merchant-shop.svg' %}                   
    Iyong Mga Produkto at Serbisyo
      {% inline_svg 'assets/merchant-shop.svg' %}                   
    </h2>

    <!-- Store Product Display -->
    <div class="store-product-container">
      <div class="store-product">
        <div class="store-product-image">
          <img src="{% static 'assets/guest-empty-image-product.svg' %}" alt="" class="store-product-image-svg" >
        </div>
        <div class="store-product-category">
          <span class="poppins-light">Produkto</span>
          <img src="{% static 'assets/guest-empty-image-product.svg' %}" alt="">
        </div>
          <img src="{% static 'assets/guest-selected-green-product.svg' %}" alt="" class="store-product-selected">
        <div class="store-product-available">
          <span class="poppins-light">Available sa Gabi</span>
        </div>
        <div class="store-product-info-container">
          <h5 class="poppins-regular ellipsis"> Hamburger Ni Titas sa kanto</h5>
          <h4 class="poppins-bold ellipsis">P 1,500.00</h4>
        </div>
      </div><!--store product-->
    </div><!--store product container-->
  </div><!--shop-offer-wrapper-->
</div><!--main-wrapper-->

<!--MODAL-->
<div class="modal-backdrop" style="display: none">
  <div class="modal-window shop-hours" style="display: none;">
    <div class="shop-hours-header">
      {% inline_svg 'assets/modal-time-shop.svg' %}
      <p class="poppins-medium">Pumili ng mga araw kung kailan bukas ang iyong tindahan, at itakda ang oras ng pagbubukas at pagsasara para sa bawat araw. Maari mong i-update ito kahit kailan.</p>
    </div>
    <form>
      <!--monday-->
      <div class="day-options">
        <div class="day-option-left">
          <input type="checkbox"><span class="poppins-medium">Lunes / Monday</span> 
        </div>
        <div class="day-option-right">
          <span class="poppins-medium">Palaging Bukas</span><input type="checkbox">           
        </div>
      </div>
      <div class="day-time">
        <div class="day-time-left">
          <div class="timepicker-wrapper">
            <input id="timepicker" type="text" placeholder="--:-- --" class="poppins-medium">
            {% inline_svg 'assets/clock.svg' %}
          </div>
          <p class="poppins-black">opening time</p>
        </div>
        <div class="day-time-right">
          <div class="timepicker-wrapper">
            <input id="timepicker" type="text" placeholder="--:-- --" class="poppins-medium">
            {% inline_svg 'assets/clock.svg' %}
          </div>
          <p class="poppins-black">opening time</p>
        </div>
      </div><!--day-time-->

      <!--tuesday-->
      <div class="day-options">
        <div class="day-option-left">
          <input type="checkbox"><span class="poppins-medium">Martes / Tuesday</span> 
        </div>
        <div class="day-option-right">
          <span class="poppins-medium">Palaging Bukas</span><input type="checkbox">           
        </div>
      </div>
      <div class="day-time">
        <div class="day-time-left">
          <div class="timepicker-wrapper">
            <input id="timepicker" type="text" placeholder="--:-- --" class="poppins-medium">
            {% inline_svg 'assets/clock.svg' %}
          </div>
          <p class="poppins-black">opening time</p>
        </div>
        <div class="day-time-right">
          <div class="timepicker-wrapper">
            <input id="timepicker" type="text" placeholder="--:-- --" class="poppins-medium">
            {% inline_svg 'assets/clock.svg' %}
          </div>
          <p class="poppins-black">opening time</p>
        </div>
      </div><!--day-time-->

      <!--wednesday-->
      <div class="day-options">
        <div class="day-option-left">
          <input type="checkbox"><span class="poppins-medium">Miyerkules / Wednesday</span> 
        </div>
        <div class="day-option-right">
          <span class="poppins-medium">Palaging Bukas</span><input type="checkbox">           
        </div>
      </div>
      <div class="day-time">
        <div class="day-time-left">
          <div class="timepicker-wrapper">
            <input id="timepicker" type="text" placeholder="--:-- --" class="poppins-medium">
            {% inline_svg 'assets/clock.svg' %}
          </div>
          <p class="poppins-black">opening time</p>
        </div>
        <div class="day-time-right">
          <div class="timepicker-wrapper">
            <input id="timepicker" type="text" placeholder="--:-- --" class="poppins-medium">
            {% inline_svg 'assets/clock.svg' %}
          </div>
          <p class="poppins-black">opening time</p>
        </div>
      </div><!--day-time-->
   
      <!--tuesday-->
      <div class="day-options">
        <div class="day-option-left">
          <input type="checkbox"><span class="poppins-medium">Huwebes / Thursday</span> 
        </div>
        <div class="day-option-right">
          <span class="poppins-medium">Palaging Bukas</span><input type="checkbox">           
        </div>
      </div>
      <div class="day-time">
        <div class="day-time-left">
          <div class="timepicker-wrapper">
            <input id="timepicker" type="text" placeholder="--:-- --" class="poppins-medium">
            {% inline_svg 'assets/clock.svg' %}
          </div>
          <p class="poppins-black">opening time</p>
        </div>
        <div class="day-time-right">
          <div class="timepicker-wrapper">
            <input id="timepicker" type="text" placeholder="--:-- --" class="poppins-medium">
            {% inline_svg 'assets/clock.svg' %}
          </div>
          <p class="poppins-black">opening time</p>
        </div>
      </div><!--day-time-->
   
      <!--friday-->
      <div class="day-options">
        <div class="day-option-left">
          <input type="checkbox"><span class="poppins-medium">Biyernes / Friday</span> 
        </div>
        <div class="day-option-right">
          <span class="poppins-medium">Palaging Bukas</span><input type="checkbox">           
        </div>
      </div>
      <div class="day-time">
        <div class="day-time-left">
          <div class="timepicker-wrapper">
            <input id="timepicker" type="text" placeholder="--:-- --" class="poppins-medium">
            {% inline_svg 'assets/clock.svg' %}
          </div>
          <p class="poppins-black">opening time</p>
        </div>
        <div class="day-time-right">
          <div class="timepicker-wrapper">
            <input id="timepicker" type="text" placeholder="--:-- --" class="poppins-medium">
            {% inline_svg 'assets/clock.svg' %}
          </div>
          <p class="poppins-black">opening time</p>
        </div>
      </div><!--day-time-->

      <!--saturday-->
      <div class="day-options">
        <div class="day-option-left">
          <input type="checkbox"><span class="poppins-medium">Sabado / Saturday</span> 
        </div>
        <div class="day-option-right">
          <span class="poppins-medium">Palaging Bukas</span><input type="checkbox">           
        </div>
      </div>
      <div class="day-time">
        <div class="day-time-left">
          <div class="timepicker-wrapper">
            <input id="timepicker" type="text" placeholder="--:-- --" class="poppins-medium">
            {% inline_svg 'assets/clock.svg' %}
          </div>
          <p class="poppins-black">opening time</p>
        </div>
        <div class="day-time-right">
          <div class="timepicker-wrapper">
            <input id="timepicker" type="text" placeholder="--:-- --" class="poppins-medium">
            {% inline_svg 'assets/clock.svg' %}
          </div>
          <p class="poppins-black">opening time</p>
        </div>
      </div><!--day-time-->

      <!--sunday-->
      <div class="day-options">
        <div class="day-option-left">
          <input type="checkbox"><span class="poppins-medium">Linggo / Sunday</span> 
        </div>
        <div class="day-option-right">
          <span class="poppins-medium">Palaging Bukas</span><input type="checkbox">           
        </div>
      </div>
      <div class="day-time">
        <div class="day-time-left">
          <div class="timepicker-wrapper">
            <input id="timepicker" type="text" placeholder="--:-- --" class="poppins-medium">
            {% inline_svg 'assets/clock.svg' %}
          </div>
          <p class="poppins-black">opening time</p>
        </div>
        <div class="day-time-right">
          <div class="timepicker-wrapper">
            <input id="timepicker" type="text" placeholder="--:-- --" class="poppins-medium">
            {% inline_svg 'assets/clock.svg' %}
          </div>
          <p class="poppins-black">opening time</p>
        </div>
      </div><!--day-time-->

      <button class="poppins-medium">Tapos Na, I-save!</button>
    </form>
  </div><!--shop-hours-->

  <!--processing-modal-->
  <div class="process-loading" style="display: none" >
    {% inline_svg 'assets/base-proccess-store.svg' %} 
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    {% inline_svg 'assets/base-process-person.svg' %}
    <p class="poppins-regular">Pakihintay habang ina-update ang oras ng pagbubukas at pagsasara ng tindahan…</p>
  </div>

  <!--processing-modal failed-->
  <div class="process-loading" style="display: none;">
    {% inline_svg 'assets/base-proccess-error.svg' %}
    <p class="poppins-regular">Hindi naisagawa ang pagbabago sa oras ng tindahan. I-refresh ang pahina at subukang muli.</p>
  </div>
</div><!--modal-backdrop-->
{% endblock bodyblock %}
    