{% load static %}

{% block headblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{% static 'css/merchant/merchant-login.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/guest/addition_dom.js' %}" defer></script>
    <script src="{% static 'js/guest/home.js' %}" defer></script>
{% endblock headblock %}

{% block bodyblock %}
<div class="main-wrapper">
    <div class="login-wrapper">
    <div class="login-desc">
        <img src="{% static 'assets/guest-store-human-empty.svg' %}" alt="Guest Store">
        <h1 class="poppins-semibold">Masbatestores</h1>

        <p class="poppins-regular">Mag-login na at ipakita ang tindahan mo sa mga customer sa iyong lugar—mas mabilis, mas madali!</p>

        <p class="poppins-bold login-title">
            <img src="{% static 'assets/form-service-category.svg' %}" alt="">
            Pumasok sa inyung Tindahan
            <img src="{% static 'assets/form-product-category.svg' %}" alt="">            
        </p>
    </div>
    
    <form class="login-form">
        <div class="creds">
            <label class="poppins-semibold" for="username">Username</label>
            <input class="poppins-light" type="text" id="username" name="username" placeholder="Example: GuanzonStore123" required>

            <label class="poppins-semibold" for="password">Password</label>
            <input class="poppins-light" type="password" id="password" name="password" placeholder="Example: Guanzon314Store" required>
        </div>
        
        <button class="poppins-semibold login" type="submit">
            Mag-Log In (Merchant)
            <img src="{% static 'assets/login-right-arrow.svg' %}" alt="">
        </button>
    </form>

    <hr>
    
    <div class="signup-cta">
        <div class="left-signup">
            <img src="{% static 'assets/form-storyset-store.svg' %}" alt="">
        </div>
        <div class="right-signup">
            <p class="poppins-light">
            Wala ka pang merchant account? Simulan na ang pagrehistro para maipakita ang iyong tindahan sa malalapit na customer.
            </p>
            <button class="poppins-semibold">
            Gumawa ng merchant account
            <img src="{% static 'assets/back-right-icon.svg' %}" alt="">
            </button>
        </div>
    </div>
</div><!--login-wrapper-->
</div><!--main-wrapper-->
{% endblock bodyblock %}
    