{% load static %}
{% load inline_svg %}

{% block headblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{% static 'css/merchant/merchant-login.css' %}">
    <link rel="stylesheet" href="{% static 'css/merchant/merchant-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/guest/addition_dom.js' %}" defer></script>
    <script src="{% static 'js/guest/home.js' %}" defer></script>
{% endblock headblock %}

{% block bodyblock %}
<div class="main-wrapper">
    <div class="login-wrapper">
    <div class="login-desc">
        {% inline_svg 'assets/guest-store-human-empty.svg' %}
        <h1 class="poppins-semibold">Masbatestores</h1>

        <p class="poppins-regular">Mag-login na at ipakita ang tindahan mo sa mga customer sa iyong lugar—mas mabilis, mas madali!</p>

        <p class="poppins-bold login-title">
            {% inline_svg 'assets/form-service-category.svg' %}
            Pumasok sa inyung Tindahan
            {% inline_svg 'assets/form-product-category.svg' %}            
        </p>
    </div>
    
    <form class="login-form">
        <div class="creds">
            <label class="poppins-semibold" for="username">Username</label>
            <input class="poppins-light" type="text" id="username" name="username" placeholder="Example: GuanzonStore123" required>

            <label class="poppins-semibold" for="password">Password</label>
            <input class="poppins-light" type="password" id="password" name="password" placeholder="Example: Guanzon314Store" required>
        </div>
        
        <button class="poppins-semibold login" type="submit">
            Mag-Log In (Merchant)
						{% inline_svg 'assets/login-right-arrow.svg' %}
        </button>
    </form>

    <hr>
    
    <div class="signup-cta">
        <div class="left-signup">
						{% inline_svg 'assets/form-storyset-store.svg' %}
				</div>
        <div class="right-signup">
            <p class="poppins-light">
            Wala ka pang merchant account? Simulan na ang pagrehistro para maipakita ang iyong tindahan sa malalapit na customer.
            </p>
            <button class="poppins-semibold">
            Gumawa ng merchant account
            {% inline_svg 'assets/back-right-icon.svg' %}
            </button>
        </div>
    </div>
</div><!--login-wrapper-->
</div><!--main-wrapper-->

<!--MODALS-->
<div class="modal-backdrop" style="display:none">
	<!--processing-modal-->
  <div class="process-loading" style="display: none;">
    {% inline_svg 'assets/base-proccess-store.svg' %} 
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 55"> 
      <path d="M16.1931 8.57457C18.3049 7.02027 18.7566 4.04584 17.2023 1.93319C15.6464 -0.177757 12.6728 -0.6303 10.5619 0.924857C8.44921 2.48001 7.99752 5.45349 9.55182 7.56539C11.1077 9.67793 14.0805 10.1296 16.1931 8.57457Z" fill="#4B352A"></path>
      <path d="M6.85879 16.1458L7.17385 15.3907C7.25139 15.2058 7.16553 14.9948 6.98379 14.919L0.810839 12.3488C0.629203 12.273 0.419197 12.3621 0.342511 12.5488L0.0283008 13.3022C-0.0482785 13.4873 0.0357669 13.699 0.217509 13.7747L6.39046 16.344C6.57306 16.4208 6.78221 16.3301 6.85879 16.1458Z" fill="#4B352A"></path> 
      <path d="M34.4581 25.7585C35.1799 25.0376 35.1807 23.8667 34.459 23.145L28.0202 16.1095L23.1899 10.8316C23.0966 10.7382 22.9932 10.6625 22.8907 10.5875C20.8364 8.36902 16.8737 9.48571 15.5477 12.1717L12.2125 18.9331L5.43618 16.418C4.49526 16.0213 3.4111 16.4622 3.01359 17.403C2.61768 18.3431 3.05774 19.4265 3.99867 19.8232L12.5092 23.8635C13.8468 24.4385 14.9085 23.7202 15.2844 23.0767C15.3061 23.0409 15.9236 21.6117 15.9236 21.6117L17.3462 30.0323L12.4433 52.0561C12.1433 53.0687 12.8299 54.1655 13.9784 54.5071C15.1268 54.8471 16.3018 54.3021 16.6019 53.2895L21.3831 40.1302L21.8974 42.3471C21.9407 42.5762 22.0107 42.7938 22.1016 42.9987C22.1833 43.2071 22.2865 43.4096 22.4191 43.603L30.1339 53.4386C30.813 54.4244 32.1631 54.6737 33.149 53.9935C34.1357 53.3152 34.385 51.9651 33.7057 50.9784L27.6478 40.8252L24.8542 19.353L31.8446 25.7584C32.5663 26.4802 33.7364 26.4802 34.4581 25.7585Z" fill="#4B352A"></path> 
    </svg>
    <p class="poppins-regular">Ina-verify ang iyong merchant credentials...</p>
  </div>
	
	<!--processing-modal failed-->
  <div class="process-loading" style="display: none;">
    {% inline_svg 'assets/base-proccess-error.svg' %}
    <p class="poppins-regular">Mali ang username o password. Pakisubukan muli.</p>
  </div>
</div><!--modal-backdrop-->
{% endblock bodyblock %}
    