{% load static %}
{% load inline_svg %}

{% block headblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{% static 'css/merchant/merchant-login.css' %}">
    <link rel="stylesheet" href="{% static 'css/merchant/merchant-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/guest/addition_dom.js' %}" defer></script>
    <script src="{% static 'js/guest/home.js' %}" defer></script>
{% endblock headblock %}

{% block bodyblock %}
<div class="main-wrapper">
    <div class="login-wrapper">
    <div class="login-desc">
        {% inline_svg 'assets/guest-store-human-empty.svg' %}
        <h1 class="poppins-semibold">Masbatestores</h1>

        <p class="poppins-regular">Mag-login na at ipakita ang tindahan mo sa mga customer sa iyong lugar—mas mabilis, mas madali!</p>

        <p class="poppins-bold login-title">
            {% inline_svg 'assets/form-service-category.svg' %}
            Pumasok sa inyung Tindahan
            {% inline_svg 'assets/form-product-category.svg' %}            
        </p>
    </div>
    
    <form class="login-form">
        <div class="creds">
            <label class="poppins-semibold" for="username">Username</label>
            <input class="poppins-light" type="text" id="username" name="username" placeholder="Example: GuanzonStore123" required>

            <label class="poppins-semibold" for="password">Password</label>
            <input class="poppins-light" type="password" id="password" name="password" placeholder="Example: Guanzon314Store" required>
        </div>
        
        <button class="poppins-semibold login" type="submit">
            Mag-Log In (Merchant)
						{% inline_svg 'assets/login-right-arrow.svg' %}
        </button>
    </form>

    <hr>
    
    <div class="signup-cta">
        <div class="left-signup">
						{% inline_svg 'assets/form-storyset-store.svg' %}
				</div>
        <div class="right-signup">
            <p class="poppins-light">
            Wala ka pang merchant account? Simulan na ang pagrehistro para maipakita ang iyong tindahan sa malalapit na customer.
            </p>
            <button class="poppins-semibold">
            Gumawa ng merchant account
            {% inline_svg 'assets/back-right-icon.svg' %}
            </button>
        </div>
    </div>
</div><!--login-wrapper-->
</div><!--main-wrapper-->

<!--MODALS-->
<div class="modal-backdrop" style="display:none">
	<!--processing-modal-->
  <div class="process-loading" style="display: none;">
    {% inline_svg 'assets/base-proccess-store.svg' %} 
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    {% inline_svg 'assets/base-process-person.svg' %}
    <p class="poppins-regular">Ina-verify ang iyong merchant credentials...</p>
  </div>
	
	<!--processing-modal failed-->
  <div class="process-loading" style="display: none;">
    {% inline_svg 'assets/base-proccess-error.svg' %}
    <p class="poppins-regular">Mali ang username o password. Pakisubukan muli.</p>
  </div>
</div><!--modal-backdrop-->
{% endblock bodyblock %}
    