{% extends "base.html" %}
{% load static %}
{% load inline_svg %}

{% block headblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/merchant/merchant-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/guest/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <script src="{% static 'js/merchant/merchant.js' %}" defer></script>
{% endblock headblock %}

{% block bodyblock %}
<div class="main-wrapper">
  <div class="header-title review-header">
    <div>
      <img src="{% static 'assets/guest-store-human-empty.svg' %}" alt="Guest Store"> 
      <p class="poppins-semibold">Masbatestores</p`>
    </div>
    <div class="rh-right">
      <p class="poppins-medium">Umalis dito</p>
      {% inline_svg 'assets/back-right-icon.svg' %} 
    </div>
  </div>
  <div class="cover"></div>
  <div class="profile-title">
    <div class="store-image-container">
      <img src="/static/assets/guest-green-store.svg" class="store-image-status" alt="">
      <img src="/static/assets/guest-store-human.svg" class="store-image-profile-svg" alt="">
    </div>
    <div class="profile-name">
      <h2 class="poppins-semibold">Guanzon Store</h2>
      <p class="poppins-medium">Barangay Ibingay Boulevard Masbate City</p>
    </div>
    <p class="poppins-bold profile-time">7:45AM - 10:90PM</p>
  </div>
  <div class="review-section">
    <div class="review-select-bar poppins-bold">
      <button>All reviews</button>
      <button>5 stars</button>
      <button>4 stars</button>    
      <button>3 stars</button>
      <button>2 - 1 stars</button>    
    </div><!--review-select-bar-->
    <hr>
    <!--if there are reviews-->
    <div class="review-list-container" style="display: none">
      <div class="review-block">
        <div class="review-block-user">
          {% inline_svg 'assets/guest-user-account.svg' %} 
          <div class="review-name">
            <span class="poppins-medium review-sender">Anonymous</span>
            <span class="poppins-bold">Hulyo 3, 2025</span>
          </div>
        </div>
        <div class="review-content">
          <p class="poppins-light">Napakabilis ng serbisyo at sobrang bait ng may-ari. Malinis din ang packaging at tama ang sukli. Babalik ako ulit dito, tiyak!</p>
          <strong class="poppins-bold">Product: <span class="poppins-regular">Hamburger</span></strong>
        </div>     
        <div class="review-options">
          <div class="review-stars">
            {% inline_svg 'assets/review-liked-star.svg' %}
            {% inline_svg 'assets/review-liked-star.svg' %} 
            {% inline_svg 'assets/review-liked-star.svg' %} 
            {% inline_svg 'assets/review-liked-star.svg' %}  
            {% inline_svg 'assets/review-unliked-star.svg' %} 
          </div>
          <div class="review-btn">
            <button class="poppins-extrabold">reply {% inline_svg 'assets/review-reply-icon.svg' %}</button>
            <button class="poppins-extrabold">delete {% inline_svg 'assets/review-delete-icon.svg' %}</button>
          </div>
        </div><!--review-options-->
      </div><!--review-block-->

            <div class="review-block">
        <div class="review-block-user">
          {% inline_svg 'assets/guest-user-account.svg' %} 
          <div class="review-name">
            <span class="poppins-medium review-sender">Anonymous</span>
            <span class="poppins-bold">Hulyo 3, 2025</span>
          </div>
        </div>
        <div class="review-content">
          <p class="poppins-light">Napakabilis ng serbisyo at sobrang bait ng may-ari. Malinis din ang packaging at tama ang sukli. Babalik ako ulit dito, tiyak!</p>
          <strong class="poppins-bold">Product: <span class="poppins-regular">Hamburger</span></strong>
        </div>     
        <div class="review-options">
          <div class="review-stars">
            {% inline_svg 'assets/review-liked-star.svg' %}
            {% inline_svg 'assets/review-liked-star.svg' %} 
            {% inline_svg 'assets/review-liked-star.svg' %} 
            {% inline_svg 'assets/review-liked-star.svg' %}  
            {% inline_svg 'assets/review-unliked-star.svg' %} 
          </div>
          <div class="review-btn">
            <button class="poppins-extrabold">reply {% inline_svg 'assets/review-reply-icon.svg' %}</button>
            <button class="poppins-extrabold">delete {% inline_svg 'assets/review-delete-icon.svg' %}</button>
          </div>
        </div><!--review-options-->
      </div><!--review-block-->

            <div class="review-block">
        <div class="review-block-user">
          {% inline_svg 'assets/guest-user-account.svg' %} 
          <div class="review-name">
            <span class="poppins-medium review-sender">Anonymous</span>
            <span class="poppins-bold">Hulyo 3, 2025</span>
          </div>
        </div>
        <div class="review-content">
          <p class="poppins-light">Napakabilis ng serbisyo at sobrang bait ng may-ari. Malinis din ang packaging at tama ang sukli. Babalik ako ulit dito, tiyak!</p>
          <strong class="poppins-bold">Product: <span class="poppins-regular">Hamburger</span></strong>
        </div>     
        <div class="review-options">
          <div class="review-stars">
            {% inline_svg 'assets/review-liked-star.svg' %}
            {% inline_svg 'assets/review-liked-star.svg' %} 
            {% inline_svg 'assets/review-liked-star.svg' %} 
            {% inline_svg 'assets/review-liked-star.svg' %}  
            {% inline_svg 'assets/review-unliked-star.svg' %} 
          </div>
          <div class="review-btn">
            <button class="poppins-extrabold">reply {% inline_svg 'assets/review-reply-icon.svg' %}</button>
            <button class="poppins-extrabold">delete {% inline_svg 'assets/review-delete-icon.svg' %}</button>
          </div>
        </div><!--review-options-->
      </div><!--review-block-->
    </div><!--review-list-container-->

    <!--if reviews are empty-->
    <div class="review-list-container empty" style="display: flex">
      {% inline_svg 'assets/merchant-review.svg' %} 
      <h3 class="poppins-medium">Wala pang review. Hikayatin ang iyong mga customer na mag-iwan ng feedback!</h3>
    </div><!--review-list-container empty-->
  </div><!--review-section-->
</div><!--main-wrapper-->

<!--MODALS-->
<div class="modal-backdrop" style="display: none;">
  <div class="review-modal" style="display: none;">
    <div class="review-modal-header">
      <p class="poppins-medium">Umalis sa review</p>
      {% inline_svg 'assets/back-down-icon.svg' %}       
    </div>
    <div class="review-block">
      <div class="review-block-user">
        {% inline_svg 'assets/guest-user-account.svg' %} 
        <div class="review-name">
          <span class="poppins-medium review-sender">Anonymous</span>
          <span class="poppins-bold">Hulyo 3, 2025</span>
        </div>
      </div>
      <div class="review-content">
        <p class="poppins-light">Napakabilis ng serbisyo at sobrang bait ng may-ari. Malinis din ang packaging at tama ang sukli. Babalik ako ulit dito, tiyak!</p>
        <strong class="poppins-bold">Product: <span class="poppins-regular">Hamburger</span></strong>
      </div>     
      <div class="review-options">
        <div class="review-stars">
          {% inline_svg 'assets/review-liked-star.svg' %}
          {% inline_svg 'assets/review-liked-star.svg' %} 
          {% inline_svg 'assets/review-liked-star.svg' %} 
          {% inline_svg 'assets/review-liked-star.svg' %}  
          {% inline_svg 'assets/review-unliked-star.svg' %} 
        </div>
      </div><!--review-options-->
    </div><!--review-block-->
    <hr class="modal-hr">

    <!-- if review has replies-->
    <div class="sub-comment-container" style="display: block;">
      <div class="review-block sub-comment">
        <div class="review-block-user">
          {% inline_svg 'assets/guest-user-account.svg' %} 
          <div class="review-name">
            <span class="poppins-medium review-sender">Anonymous</span>
            <span class="poppins-bold">Hulyo 3, 2025</span>
          </div>
        </div>
        <div class="review-content">
          <p class="poppins-light">Napakabilis ng serbisyo at sobrang bait ng may-ari. Malinis din ang packaging at tama ang sukli. Babalik ako ulit dito, tiyak!</p>
        </div>     
      </div><!--review-block-->
      <div class="review-block sub-comment">
        <div class="review-block-user">
          {% inline_svg 'assets/guest-user-account.svg' %} 
          <div class="review-name">
            <span class="poppins-medium review-sender">Anonymous</span>
            <span class="poppins-bold">Hulyo 3, 2025</span>
          </div>
        </div>
        <div class="review-content">
          <p class="poppins-light">Napakabilis ng serbisyo at sobrang bait ng may-ari. Malinis din ang packaging at tama ang sukli. Babalik ako ulit dito, tiyak!</p>
        </div>     
      </div><!--review-block-->
    </div><!--sub-comment-container-->
    
    <!--if review has no replies-->
    <div class="sub-comment-container sub-empty" style="display: none">
      {% inline_svg 'assets/merchant-review.svg' %} 
      <h3 class="poppins-medium">Wala pang reply—pwede mo itong sagutin.</h3>
    </div>   
        
    <hr class="modal-hr">
    
    <!--if thread is open-->
    <div class="modal-send-reply" style="display: none">
      <textarea class="poppins-regular" placeholder="Mag-reply sa review"></textarea>
      <button class="poppins-extrabold">
        {% inline_svg 'assets/review-reply-send.svg' %} 
        Mag Reply
      </button>
    </div><!--modal-send-reply-->

    <!--if thread is closed-->
    <div class="modal-send-reply thread-closed">
      <textarea disabled class="poppins-semibold" placeholder="Thread closed—naabot na ang maximum na tugon para sa review na ito."></textarea>
      <button disabled class="poppins-extrabold">
        {% inline_svg 'assets/review-reply-send.svg' %} 
        Mag Reply
      </button>
    </div><!--modal-send-reply-->
  </div><!--review-modal-->

  <!--processing-modal-->
  <div class="process-loading" style="display: none">
    {% inline_svg 'assets/base-proccess-store.svg' %} 
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 55"> 
      <path d="M16.1931 8.57457C18.3049 7.02027 18.7566 4.04584 17.2023 1.93319C15.6464 -0.177757 12.6728 -0.6303 10.5619 0.924857C8.44921 2.48001 7.99752 5.45349 9.55182 7.56539C11.1077 9.67793 14.0805 10.1296 16.1931 8.57457Z" fill="#4B352A"></path>
      <path d="M6.85879 16.1458L7.17385 15.3907C7.25139 15.2058 7.16553 14.9948 6.98379 14.919L0.810839 12.3488C0.629203 12.273 0.419197 12.3621 0.342511 12.5488L0.0283008 13.3022C-0.0482785 13.4873 0.0357669 13.699 0.217509 13.7747L6.39046 16.344C6.57306 16.4208 6.78221 16.3301 6.85879 16.1458Z" fill="#4B352A"></path> 
      <path d="M34.4581 25.7585C35.1799 25.0376 35.1807 23.8667 34.459 23.145L28.0202 16.1095L23.1899 10.8316C23.0966 10.7382 22.9932 10.6625 22.8907 10.5875C20.8364 8.36902 16.8737 9.48571 15.5477 12.1717L12.2125 18.9331L5.43618 16.418C4.49526 16.0213 3.4111 16.4622 3.01359 17.403C2.61768 18.3431 3.05774 19.4265 3.99867 19.8232L12.5092 23.8635C13.8468 24.4385 14.9085 23.7202 15.2844 23.0767C15.3061 23.0409 15.9236 21.6117 15.9236 21.6117L17.3462 30.0323L12.4433 52.0561C12.1433 53.0687 12.8299 54.1655 13.9784 54.5071C15.1268 54.8471 16.3018 54.3021 16.6019 53.2895L21.3831 40.1302L21.8974 42.3471C21.9407 42.5762 22.0107 42.7938 22.1016 42.9987C22.1833 43.2071 22.2865 43.4096 22.4191 43.603L30.1339 53.4386C30.813 54.4244 32.1631 54.6737 33.149 53.9935C34.1357 53.3152 34.385 51.9651 33.7057 50.9784L27.6478 40.8252L24.8542 19.353L31.8446 25.7584C32.5663 26.4802 33.7364 26.4802 34.4581 25.7585Z" fill="#4B352A"></path> 
    </svg>
    <p class="poppins-regular">Pinoproseso ang iyong bagong address—huwag isara ang app.</p>
  </div>

  <!--processing-modal failed-->
  <div class="process-loading" style="display: none;">
    {% inline_svg 'assets/base-proccess-error.svg' %}
    <p class="poppins-regular">Oops! Nagkaproblema sa pag-save ng lokasyon. Pakisubukang muli.</p>
  </div>
</div><!--modal-backdrop-->

{% endblock bodyblock %}