{% extends "base.html" %}
{% load static %}
{% load inline_svg %}

{% block headblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/merchant/merchant-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/guest/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <script src="{% static 'js/merchant/merchant.js' %}" defer></script>
{% endblock headblock %}

{% block bodyblock %}
<div class="main-wrapper">
  <div class="header-title review-header">
    <div>
      <img src="{% static 'assets/guest-store-human-empty.svg' %}" alt="Guest Store"> 
      <p class="poppins-semibold">Masbatestores</p`>
    </div>
    <div class="rh-right">
      <p class="poppins-medium">Umalis dito</p>
      {% inline_svg 'assets/back-right-icon.svg' %} 
    </div>
  </div>
  <div class="cover"></div>
  <div class="profile-title">
    <div class="store-image-container">
      <img src="/static/assets/guest-green-store.svg" class="store-image-status" alt="">
      <img src="/static/assets/guest-store-human.svg" class="store-image-profile-svg" alt="">
    </div>
    <div class="profile-name">
      <h2 class="poppins-semibold">Guanzon Store</h2>
      <p class="poppins-medium">Barangay Ibingay Boulevard Masbate City</p>
    </div>
    <p class="poppins-bold profile-time">7:45AM - 10:90PM</p>
  </div>
  <div class="review-section">
    <div class="review-select-bar poppins-bold">
      <button>All reviews</button>
      <button>5 stars</button>
      <button>4 stars</button>    
      <button>3 stars</button>
      <button>2 - 1 stars</button>    
    </div><!--review-select-bar-->
    <hr>
    <!--if there are reviews-->
    <div class="review-list-container" style="display: none">
      <div class="review-block">
        <div class="review-block-user">
          {% inline_svg 'assets/guest-user-account.svg' %} 
          <div class="review-name">
            <span class="poppins-medium review-sender">Anonymous</span>
            <span class="poppins-bold">Hulyo 3, 2025</span>
          </div>
        </div>
        <div class="review-content">
          <p class="poppins-light">Napakabilis ng serbisyo at sobrang bait ng may-ari. Malinis din ang packaging at tama ang sukli. Babalik ako ulit dito, tiyak!</p>
          <strong class="poppins-bold">Product: <span class="poppins-regular">Hamburger</span></strong>
        </div>     
        <div class="review-options">
          <div class="review-stars">
            {% inline_svg 'assets/review-liked-star.svg' %}
            {% inline_svg 'assets/review-liked-star.svg' %} 
            {% inline_svg 'assets/review-liked-star.svg' %} 
            {% inline_svg 'assets/review-liked-star.svg' %}  
            {% inline_svg 'assets/review-unliked-star.svg' %} 
          </div>
          <div class="review-btn">
            <button class="poppins-extrabold">reply {% inline_svg 'assets/review-reply-icon.svg' %}</button>
            <button class="poppins-extrabold">delete {% inline_svg 'assets/review-delete-icon.svg' %}</button>
          </div>
        </div><!--review-options-->
      </div><!--review-block-->

            <div class="review-block">
        <div class="review-block-user">
          {% inline_svg 'assets/guest-user-account.svg' %} 
          <div class="review-name">
            <span class="poppins-medium review-sender">Anonymous</span>
            <span class="poppins-bold">Hulyo 3, 2025</span>
          </div>
        </div>
        <div class="review-content">
          <p class="poppins-light">Napakabilis ng serbisyo at sobrang bait ng may-ari. Malinis din ang packaging at tama ang sukli. Babalik ako ulit dito, tiyak!</p>
          <strong class="poppins-bold">Product: <span class="poppins-regular">Hamburger</span></strong>
        </div>     
        <div class="review-options">
          <div class="review-stars">
            {% inline_svg 'assets/review-liked-star.svg' %}
            {% inline_svg 'assets/review-liked-star.svg' %} 
            {% inline_svg 'assets/review-liked-star.svg' %} 
            {% inline_svg 'assets/review-liked-star.svg' %}  
            {% inline_svg 'assets/review-unliked-star.svg' %} 
          </div>
          <div class="review-btn">
            <button class="poppins-extrabold">reply {% inline_svg 'assets/review-reply-icon.svg' %}</button>
            <button class="poppins-extrabold">delete {% inline_svg 'assets/review-delete-icon.svg' %}</button>
          </div>
        </div><!--review-options-->
      </div><!--review-block-->

            <div class="review-block">
        <div class="review-block-user">
          {% inline_svg 'assets/guest-user-account.svg' %} 
          <div class="review-name">
            <span class="poppins-medium review-sender">Anonymous</span>
            <span class="poppins-bold">Hulyo 3, 2025</span>
          </div>
        </div>
        <div class="review-content">
          <p class="poppins-light">Napakabilis ng serbisyo at sobrang bait ng may-ari. Malinis din ang packaging at tama ang sukli. Babalik ako ulit dito, tiyak!</p>
          <strong class="poppins-bold">Product: <span class="poppins-regular">Hamburger</span></strong>
        </div>     
        <div class="review-options">
          <div class="review-stars">
            {% inline_svg 'assets/review-liked-star.svg' %}
            {% inline_svg 'assets/review-liked-star.svg' %} 
            {% inline_svg 'assets/review-liked-star.svg' %} 
            {% inline_svg 'assets/review-liked-star.svg' %}  
            {% inline_svg 'assets/review-unliked-star.svg' %} 
          </div>
          <div class="review-btn">
            <button class="poppins-extrabold">reply {% inline_svg 'assets/review-reply-icon.svg' %}</button>
            <button class="poppins-extrabold">delete {% inline_svg 'assets/review-delete-icon.svg' %}</button>
          </div>
        </div><!--review-options-->
      </div><!--review-block-->
    </div><!--review-list-container-->

    <!--if reviews are empty-->
    <div class="review-list-container empty" style="display: flex">
      {% inline_svg 'assets/merchant-review.svg' %} 
      <h3 class="poppins-medium">Wala pang review. Hikayatin ang iyong mga customer na mag-iwan ng feedback!</h3>
    </div><!--review-list-container empty-->
  </div><!--review-section-->
</div><!--main-wrapper-->

<!--MODALS-->
<div class="modal-backdrop" style="display: none;">
  <div class="review-modal" style="display: none;">
    <div class="review-modal-header">
      <p class="poppins-medium">Umalis sa review</p>
      {% inline_svg 'assets/back-down-icon.svg' %}       
    </div>
    <div class="review-block">
      <div class="review-block-user">
        {% inline_svg 'assets/guest-user-account.svg' %} 
        <div class="review-name">
          <span class="poppins-medium review-sender">Anonymous</span>
          <span class="poppins-bold">Hulyo 3, 2025</span>
        </div>
      </div>
      <div class="review-content">
        <p class="poppins-light">Napakabilis ng serbisyo at sobrang bait ng may-ari. Malinis din ang packaging at tama ang sukli. Babalik ako ulit dito, tiyak!</p>
        <strong class="poppins-bold">Product: <span class="poppins-regular">Hamburger</span></strong>
      </div>     
      <div class="review-options">
        <div class="review-stars">
          {% inline_svg 'assets/review-liked-star.svg' %}
          {% inline_svg 'assets/review-liked-star.svg' %} 
          {% inline_svg 'assets/review-liked-star.svg' %} 
          {% inline_svg 'assets/review-liked-star.svg' %}  
          {% inline_svg 'assets/review-unliked-star.svg' %} 
        </div>
      </div><!--review-options-->
    </div><!--review-block-->
    <hr class="modal-hr">

    <!-- if review has replies-->
    <div class="sub-comment-container" style="display: block;">
      <div class="review-block sub-comment">
        <div class="review-block-user">
          {% inline_svg 'assets/guest-user-account.svg' %} 
          <div class="review-name">
            <span class="poppins-medium review-sender">Anonymous</span>
            <span class="poppins-bold">Hulyo 3, 2025</span>
          </div>
        </div>
        <div class="review-content">
          <p class="poppins-light">Napakabilis ng serbisyo at sobrang bait ng may-ari. Malinis din ang packaging at tama ang sukli. Babalik ako ulit dito, tiyak!</p>
        </div>     
      </div><!--review-block-->
      <div class="review-block sub-comment">
        <div class="review-block-user">
          {% inline_svg 'assets/guest-user-account.svg' %} 
          <div class="review-name">
            <span class="poppins-medium review-sender">Anonymous</span>
            <span class="poppins-bold">Hulyo 3, 2025</span>
          </div>
        </div>
        <div class="review-content">
          <p class="poppins-light">Napakabilis ng serbisyo at sobrang bait ng may-ari. Malinis din ang packaging at tama ang sukli. Babalik ako ulit dito, tiyak!</p>
        </div>     
      </div><!--review-block-->
    </div><!--sub-comment-container-->
    
    <!--if review has no replies-->
    <div class="sub-comment-container sub-empty" style="display: none">
      {% inline_svg 'assets/merchant-review.svg' %} 
      <h3 class="poppins-medium">Wala pang reply—pwede mo itong sagutin.</h3>
    </div>   
        
    <hr class="modal-hr">
    
    <!--if thread is open-->
    <div class="modal-send-reply" style="display: none">
      <textarea class="poppins-regular" placeholder="Mag-reply sa review"></textarea>
      <button class="poppins-extrabold">
        {% inline_svg 'assets/review-reply-send.svg' %} 
        Mag Reply
      </button>
    </div><!--modal-send-reply-->

    <!--if thread is closed-->
    <div class="modal-send-reply thread-closed">
      <textarea disabled class="poppins-semibold" placeholder="Thread closed—naabot na ang maximum na tugon para sa review na ito."></textarea>
      <button disabled class="poppins-extrabold">
        {% inline_svg 'assets/review-reply-send.svg' %} 
        Mag Reply
      </button>
    </div><!--modal-send-reply-->
  </div><!--review-modal-->

  <!--processing-modal-->
  <div class="process-loading" style="display: none">
    {% inline_svg 'assets/base-proccess-store.svg' %} 
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    {% inline_svg 'assets/base-process-person.svg' %}
    <p class="poppins-regular">Pinoproseso ang iyong bagong address—huwag isara ang app.</p>
  </div>

  <!--processing-modal failed-->
  <div class="process-loading" style="display: none;">
    {% inline_svg 'assets/base-proccess-error.svg' %}
    <p class="poppins-regular">Oops! Nagkaproblema sa pag-save ng lokasyon. Pakisubukang muli.</p>
  </div>
</div><!--modal-backdrop-->

{% endblock bodyblock %}